
:root {
  --background-color: #ecfcfb;
  --primary-color: #0E8281;
  --white-color:#fff;

}

.text-orange {
  color: var(--primary-color);
}

.btn-orange {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
}

.btn-orange:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-outline-orange {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-outline-orange:hover {
  background-color: var(--primary-color);
  color: white;
}

.object-fit-cover {
  object-fit: cover;
}



  /* Mobile menu panel */
  .mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 999;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
  }

  .mobile-menu.active {
    right: 0;
  }

  .mobile-menu .nav-link {
    font-size: 1.2rem;
    padding: 0.75rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
  }

  .navbar-toggler {
    border: none;
    background: transparent;
  }

  .close-menu {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
  }

  @media (min-width: 992px) {
    .mobile-menu,
    .navbar-toggler {
      display: none !important;
    }
  }


